<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWarehouse" />
                <binding name="BasicHttpBinding_IProduct" />
                <binding name="BasicHttpBinding_ICategory" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Warehouse_Prj.Service/WarehouseService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWarehouse"
                contract="WarehouseServiceProxy.IWarehouse" name="BasicHttpBinding_IWarehouse" />
            <endpoint address="http://localhost:8080/Product_Prj.Service/ProductService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProduct"
                contract="ProductServiceProxy.IProduct" name="BasicHttpBinding_IProduct" />
            <endpoint address="http://localhost:8080/Category_Prj.Service/Category_Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategory"
                contract="CategoryServiceProxy.ICategory" name="BasicHttpBinding_ICategory" />
        </client>
    </system.serviceModel>
</configuration>