<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProduct" />
                <binding name="BasicHttpBinding_IInventory_Service" />
                <binding name="BasicHttpBinding_IWarehouse" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Product_Prj.Service/ProductService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProduct"
                contract="ProductServiceInbound.IProduct" name="BasicHttpBinding_IProduct" />
            <endpoint address="http://localhost:8080/Inventory_Prj.Service/Inventory_Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInventory_Service"
                contract="InventoryServiceInbound.IInventory_Service" name="BasicHttpBinding_IInventory_Service" />
            <endpoint address="http://localhost:8080/Warehouse_Prj.Service/WarehouseService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWarehouse"
                contract="WarehouseServiceInbound.IWarehouse" name="BasicHttpBinding_IWarehouse" />
        </client>
    </system.serviceModel>
</configuration>