<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProduct" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Product_Prj.Service/ProductService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProduct"
                contract="ProductServiceRef.IProduct" name="BasicHttpBinding_IProduct" />
        </client>
    </system.serviceModel>
</configuration>